@define-color border-module #fffff0;

*, #workspaces button {
    margin-left: 1px;
    margin-right: 5px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-family: "Hack Nerd Font" ;
    font-size: 15px;
}

window#waybar {
    background: transparent;
}

window#waybar.hidden {
    opacity: 0.0;
}

window {
    margin-top: 6px;
    margin-bottom: 6px;
    padding-left: 1px;
    padding-right: 1px;
    transition: none;
    color: transparent;
    background: transparent;
}


#custom-updates , #idle_inhibitor ,#pulseaudio, #clock, #memory, #cpu, #tray, #battery, #custom-power, #backlight, #custom-launcher, #workspaces {
    color: #ffffff;
    background: #000000;
    border-radius: 13px;
    background-color: #000000;
    border: 2px solid @border-module;
}

#custom-launcher {
    padding-right: 13px;
    color: #ffffff;
}
#workspaces {
  padding: 0;
  padding-left: 1ex;
  padding-right: 1ex;
}

#workspaces button {
  all: initial;
  border-radius: inherit;
  padding: 0;
}

#workspaces button.active {
  color: #ffffff;
  background: #88c0d0;
}

#workspaces button:hover {
  background: #a3be8c ;
  color: #000000;
}

#workspaces button.urgent {
  background: #FF5733;
}

